*{
    box-sizing: border-box;
    
}

html{
    scroll-behavior: smooth;
}





body{
    font-family: "Roboto", sans-serif;
    
}

h1{font-size: 3.5rem;}
h2{font-size: 2.7rem;}
h3{font-size: 2em;}
p{font-size: 1.25em;}

button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.5);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color: rgb(5, 158, 230);
    cursor: pointer;
    
}
button:hover{
    background-color: rgb(0, 174, 255) ;
    cursor: pointer;
}

.container{
    max-width:  1100px;
    margin: auto;
}

.color-acento{ color: rgb(5, 158, 230); }

header{
    background-color: rgb(245,245,245);
}
 
header .logotipo{
        margin: 0;
        padding: 15px 20px;
        color: rgb(0, 174, 255);
        height: 12%;
        width: 12%;
}


header .container{
     display: flex;
     flex-direction: column;
     align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;

}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover{
    color: rgb(0, 174, 255)}


    
footer{
    background-color: rgb(230,230,230);
}

footer p{
    margin: 0;
    padding: 12px;
    color: rgb(100,100,100);
}

footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;  
}

main{
    background-color: beige;
    font-style: italic;
    padding-top: 1%;
    padding-bottom: 1%;
    
}

@media (max-width: 720px){

    header{
        position: relative;
        width: 100%;
    }

    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #somos-sicuadra .img-container{
        background-image: url("img/somos-sicuadra2.jpg");
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 400px;
    }